x.cardImage{
  display: block;
  height: 70%;
  object-fit: cover;
  width: 100%;
}

.cardFull{
    height: 600px;
    border-radius: 2px;
    border:  rgb(252,196,232);
}

.cardBody{
    height: 30%;
   flex-direction: column;
   display: flex;
   margin-bottom: 2px;
}

.heartbutton{
  margin-left: auto;
}

.footerCard{
  display: flex;
  margin-top: auto;
}

Row{
    margin: 10px;
}
.moreDetails{
    background-color: rgb(252,196,232);
    border-color: rgb(252,196,232);
    text-shadow: hotpink;
    text-align:center;
     
}