x.cardImage{
  display: block;
  height: 70%;
  object-fit: cover;
  width: 100%;
  padding-bottom: 2px;
}

.cardFull{
    height: 600px;
    border-radius: 2px;
}

.cardBody{
  height: 40%;
  flex-direction: column;
  display: flex;
  margin-bottom: 2px;
  font-family: 'Readex Pro', sans-serif;
  padding: 10px;
  p{
    margin-bottom: 1.5px;
  }

}


.footerCard{
  display: flex;
  margin-top: auto;
  justify-content: center;
}


.moreDetails{
    background-color: rgb(252,196,232);
    border-color: rgb(252,196,232);
    text-align:center;
    &:hover,&:active,&:visited,&:focus {
      background-color:rgb(230, 150, 202) ;
      border-color: rgb(230, 150, 202);

    }
      
}