// .homeContainer{
//     max-width: 1680px;
// }

.highlights{
font-family: Arial, Helvetica, sans-serif ;
font-size: x-large;
background-color: rgb(252,196,232);
display: flex;
justify-content: center;
padding-left: 40px;
padding-top: 10px;
width: 100%;

}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}