.jumbotron{
  background-color:rgb(169,242,251) ;
}
   
.jumbovidtext{
 padding: 30px;
 font-family:'Readex Pro', sans-serif ;
 color: white;
}
.btn{
    color:white;
    background-color: rgb(252,196,232);

}
