.jumbotron{
    background-image: url(https://ctl.s6img.com/society6/img/NdR4s6jmm9T0K0dC704WO4JkkhY/w_1500/coffee-mugs/swatch/~artwork,fw_4600,fh_2000,fy_-1760,iw_4600,ih_5520/s6-original-art-uploads/society6/uploads/misc/cefaff166b65494aa7b08903331558d2/~~/miami-art-deco-landmarks-mugs.jpg);
    padding: 60px;
    border-radius: 5px;
}